nav {
    background-color: black; 
    padding: 10px; 
}
.nav-link {
    margin-right: 25px; 
    color: green; 
    font-size: 25px; 
}
.nav-link-books{
    margin-right: 25px; 
    color: green; 
    font-size: 25px; 
}
body {
    background-color: burlywood;
    margin:0; 
    padding: 0;
    box-sizing: border-box;
}
